# requirements.txt
# API
fastapi
uvicorn
mangum
jinja2>=3.0
python-multipart
playwright

# AI & Data Processing
openai
chromadb
beautifulsoup4
pydantic
pydantic-settings
ollama
openwebui-client
tiktoken
Pillow

# Scraping & Vector DB
requests
langchain
langchain-community
langchain-openai
pytesseract
langchain-chroma