# requirements.txt
# API
fastapi
uvicorn
mangum

# AI & Data Processing
openai
chromadb
beautifulsoup4
pydantic
pydantic-settings
ollama
openwebui-client
tiktoken

# Scraping & Vector DB
requests
langchain
langchain-community